/Chess/.vs
Chess/ChessLogic/obj/Debug/net8.0/ChessLogic.AssemblyInfo.cs
Chess/ChessLogic/obj/Debug/net8.0/ChessLogic.AssemblyInfoInputs.cache
Chess/ChessUI/obj/project.nuget.cache
Chess/ChessUI/obj/project.assets.json
Chess/ChessUI/obj/project.nuget.cache
Chess/ChessUI/obj/project.assets.json
Chess/ChessUI/obj/project.nuget.cache
Chess/ChessUI/obj/project.assets.json
Chess/ChessUI/obj/project.nuget.cache
Chess/ChessUI/obj/project.assets.json
Chess/ChessLogic/obj/ChessLogic.csproj.nuget.dgspec.json
Chess/ChessLogic/obj/ChessLogic.csproj.nuget.g.props
Chess/ChessLogic/obj/Debug/net8.0/ChessLogic.AssemblyInfo.cs
Chess/ChessLogic/obj/Debug/net8.0/ChessLogic.AssemblyInfoInputs.cache
Chess/ChessLogic/obj/Debug/net8.0/ChessLogic.assets.cache
Chess/ChessLogic/obj/Debug/net8.0/ChessLogic.GeneratedMSBuildEditorConfig.editorconfig
Chess/ChessLogic/obj/project.assets.json
Chess/ChessLogic/obj/project.nuget.cache
Chess/ChessUI/obj/ChessUI.csproj.nuget.dgspec.json
Chess/ChessUI/obj/ChessUI.csproj.nuget.g.props
Chess/ChessUI/obj/Debug/net8.0-windows/App.g.i.cs
Chess/ChessUI/obj/Debug/net8.0-windows/ChessUI.AssemblyInfo.cs
Chess/ChessUI/obj/Debug/net8.0-windows/ChessUI.AssemblyInfoInputs.cache
Chess/ChessUI/obj/Debug/net8.0-windows/ChessUI.assets.cache
Chess/ChessUI/obj/Debug/net8.0-windows/ChessUI.csproj.AssemblyReference.cache
Chess/ChessUI/obj/Debug/net8.0-windows/ChessUI.GeneratedMSBuildEditorConfig.editorconfig
Chess/ChessUI/obj/Debug/net8.0-windows/ChessUI_MarkupCompile.i.cache
Chess/ChessUI/obj/Debug/net8.0-windows/MainWindow.g.i.cs
Chess/ChessUI/obj/project.assets.json
Chess/ChessUI/obj/project.nuget.cache
Chess/ChessLogic/obj/Debug/net8.0/ChessLogic.AssemblyInfo.cs
Chess/ChessLogic/obj/Debug/net8.0/ChessLogic.AssemblyInfo.cs
Chess/ChessLogic/obj/Debug/net8.0/ChessLogic.AssemblyInfoInputs.cache
Chess/ChessLogic/obj/Debug/net8.0/ChessLogic.csproj.CoreCompileInputs.cache
Chess/ChessLogic/obj/Debug/net8.0/ChessLogic.csproj.FileListAbsolute.txt
Chess/ChessLogic/obj/Debug/net8.0/ChessLogic.sourcelink.json
